<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<ion-header class="primario">
  <ion-toolbar class="primario">
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="terciario">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Acerca de la App
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta es una aplicación para la gestión de televisores. Con ella podrás organizar tu stock de televisores
         y llevar un seguimiento de ellos.</p>
      <p>La aplicación cuenta con las siguientes funcionalidades:</p>
      <ul>
        <li>Añadir un televiso</li>
        <li>Editar un televisor previamente añadido</li>
        <li>Eliminar un televisor</li>
      </ul>
    </ion-card-content>
  </ion-card>
<div class="mapa">
  <ion-text color="danger">
    <h2>¿Dónde nos encontramos?</h2>
  </ion-text>  
  <div id="mapId" style="width:400px; height:400px; "></div>

</div>

</ion-content>


<ion-toolbar>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="planet"></ion-icon>
        INICIO
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="help-circle"></ion-icon>
        INFO
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>