ion-input{
    background-color: rgb(238, 234, 234);
}

ion-toolbar{
  --background:red;
  color: white;
}
.titulo{
  font-size: bold;

}
.secundario{
  --background: red;
    color:white;

}
.terciario{
  --background: white;

}