<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Televisores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Calidad Imagen</ion-label>
    <ion-input [(ngModel)]="televisorEditando.calidadImagen"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="televisorEditando.incluye_mando"></ion-checkbox>
    <ion-label>Incluye Mando</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-input [(ngModel)]="televisorEditando.marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Pulgadas</ion-label>
    <ion-input [(ngModel)]="televisorEditando.pulgadas"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de pantalla</ion-label>
    <ion-input [(ngModel)]="televisorEditando.tipo_de_pantalla"></ion-input>
  </ion-item>

  <ion-button (click)="clickBotonInsertar()">Añadir Televisor</ion-button>

  <h1>LISTA DE TELEVISORES</h1>
  <ion-list>
    <ion-item *ngFor="let documentTelevisor of arrayColeccionTelevisores">
      <ion-grid>
        <ion-row>
          <ion-text color="primary">
            <h1>{{documentTelevisor.data.marca}}</h1>
          </ion-text>

        </ion-row>

        <ion-row>
          <ion-text color="tertiary">
          <h2>{{documentTelevisor.data.calidadImagen}}</h2>

          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text color="tertiary">
          <h2>{{documentTelevisor.data.pulgadas}}</h2>

          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text color="tertiary">
          <h2>{{documentTelevisor.data.tipo_de_pantalla}}</h2>
          </ion-text>
        </ion-row>

        <ion-row>
          <ion-text color="tertiary">
            <h2 *ngIf="(documentTelevisor.data.incluye_mando)">Si</h2>
            <!-- HAY Q PROBAR ESTOOOOOOOOOOOOOOOOOOOOOOOOOO         -->
            <h2 *ngIf="(!documentTelevisor.data.incluye_mando)">No</h2>
  

          </ion-text>
         
        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>